*~
slides/slides.*.vrb
slides.aux
slides.fls
slides.a
slides/_minted-slides
slides/slides.aux
slides/slides.fdb
slides/slides.fls
slides/slides.log
slides/slides.nav
slides/slides.out
slides/slides.pdf
slides/slides.snm
slides/slides.tex
slides/slides.toc
slides/slides.xdv
slides/slides.fdb_latexmk